<nav class="navbar" [class.open]="menuAbierto">
  <a routerLink="/home" class="logo">
    <img src="assets/logo2.jpg" alt="Logo" />
  </a>

  <!-- Botón hamburguesa para móviles -->
  <div class="menu-toggle" (click)="menuAbierto = !menuAbierto">
    ☰
  </div>

  <ul class="nav-links" [class.active]="menuAbierto">
    <!-- USUARIO -->
    <ng-container *ngIf="auth.estaAutenticado() && auth.obtenerRol() === 'usuario'">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/formulario">Agendar</a></li>
      <li><a routerLink="/usuario">Mis Citas</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle">Servicios</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/servicios/urgencias">Urgencias</a></li>
          <li><a routerLink="/servicios/quirurgica">Unidad Quirúrgica</a></li>
          <li><a routerLink="/servicios/terapia-intensiva">Unidad de Terapia Intensiva</a></li>
          <li><a routerLink="/servicios/neonatologia">Neonatología</a></li>
          <li><a routerLink="/servicios/hospitalizacion">Hospitalización</a></li>
          <li><a routerLink="/servicios/hemodinamia">Hemodinamia</a></li>
          <li><a routerLink="/servicios/endoscopia">Endoscopia</a></li>
        </ul>
      </li>
    </ng-container>

    <!-- ADMIN -->
    <ng-container *ngIf="auth.estaAutenticado() && auth.obtenerRol() === 'admin'">
      <li><a routerLink="/admin">Agenda</a></li>
      <li><a routerLink="/formulario">Registrar Cita</a></li>
    </ng-container>

    <!-- PÚBLICO -->
    <ng-container *ngIf="!auth.estaAutenticado()">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/servicios">Servicios</a></li>
      <li><a routerLink="/login">Iniciar sesión</a></li>
    </ng-container>

    <!-- CERRAR SESIÓN -->
    <li *ngIf="auth.estaAutenticado()">
      <a (click)="cerrarSesion()" class="cerrar-sesion">Cerrar sesión</a>
    </li>
  </ul>
</nav>
